table {
  margin-left: auto;
  margin-right: auto; 
}
th {
  outline: solid #333 2px;
  background-color: #333;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  height: 2.5rem;
  font-size: 1em;
}
span {
  margin: 0 3rem;
}

.table-container {
  overflow: auto;
}

.col-desc {
  font-size: 1.1em;
  text-transform: capitalize;
}

tr {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}
td {
  text-align: center;
}
