* {
  justify-content: center;
}
.products {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  @media (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 594px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 430px) {
    grid-template-columns: repeat(2, 1fr);
  }
  justify-items: center;
  justify-content: space-evenly;
  grid-auto-rows: auto;
  margin: 0 10%;
  grid-gap: 1rem;
  .product-card {

    img {
      width: 17.5vh;
      @media (max-width: 768px) {
        width: 13vh;
      }
    }
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    height: auto;
    padding: 0.5rem;
    max-width: 100%;
    .product-info {
      font-size: 1rem;
    }
    .product-price {

      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        background-color: #e7e7e7;
        border: none;
        margin-top: 1rem;

        border-radius: 4px;
        color: #000;
        width: 6em;
        font-size: 0.8em;
        height: 2.5em;
        @media (max-width: 768px) {
          grid-template-columns: repeat(4, 1fr);
          font-size: 0.8em;
        }

        cursor: pointer;
        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  padding: 30px;
}
